<h2>Edit my information</h2>

<form [formGroup]="form">
    <div>
        <mat-form-field [style.width.px]="256">
            <mat-label><span>First name</span></mat-label>
            <input matInput type="string" formControlName="firstname">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [style.width.px]="256">
            <mat-label><span>Last name</span></mat-label>
            <input matInput type="string" formControlName="lastname">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [style.width.px]="256">
            <mat-label><span>Address</span></mat-label>
            <textarea matInput formControlName="address"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [style.width.px]="256">
            <mat-label><span>Phone</span></mat-label>
            <input matInput type="string" formControlName="phone">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [style.width.px]="256">
            <mat-label><span>Email</span></mat-label>
            <input matInput type="string" formControlName="email">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field [style.width.px]="256">
            <mat-label><span>SIRET</span></mat-label>
            <input matInput type="string" formControlName="siret">
        </mat-form-field>
    </div>

    <div class="buttonbar">
        <button mat-raised-button color="primary" (click)="update()">Update</button>
    </div>
</form>